<div class="container">
  <div class="row">
    <div class="col-sm-4"></div>
    <div id="input_column" class="col-sm-4">
      <form (ngSubmit)="onSubmit()" #InputForm="ngForm">
        <div class="form-group">
          <input type="text" class="form-control" id="val" placeholder="Enter Destination..." required [(ngModel)]="keyword.val" name="val">
        </div>
        <button type="submit" class="btn btn-success" [disabled]="!InputForm.form.valid">Enter</button>
      </form>
    </div>
    <div class="col-sm-4"></div>
  </div>
</div>
